# Dependencies
node_modules/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist/
build/
out/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
